////
/// ------------------------------------------------------------------
/// Aside
/// ------------------------------------------------------------------
/// This is the design for the backend aside.
///
/// @author Natacha Herth
///
////

#sidebar {

    --anchor-decoration: none;
    --drawer-display: grid;
    --drawer-transform: translatex(-100%);
    --drawer-position: 0 auto 0 0;

    grid-template-columns: 1fr;
    grid-template-rows: max-content 1fr;
    grid-template-areas: "welcome" "aside";

    padding: 0 var(--layout-gap-inline);

    // Design the header of the sidebar (ICON + NAME + ROLES)
    > header {
        display: flex;
        align-items: center;
        gap: 1rem;
        padding-block: .5rem;
        white-space: nowrap;
        grid-area: welcome;

        svg {
            font-size: 2.5rem;
        }

        p {
            line-height: 1.25;
            margin: 0;

            b {
                display: block;
            }
        }

    }

    > nav {

        // Display flex to make sure copyright will always at the bottom
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        gap: var(--layout-gap-block) 0;

        > :first-child {
            margin-top: var(--layout-gap-block);
        }

        // Copyright
        > :last-child {
            font-size: var(--font-size-small);
            text-align: center;
            margin-top: auto;
            padding-block: .5rem;
            font-style: italic;
        }

        // Block ok links
        ul {
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                margin-block: .25rem;

                // Design active & hover with border on the left
                a {

                    @media screen and (prefers-reduced-motion: no-preference) {
                        transition: all .15s ease-in-out;
                    }

                    &:hover {
                        padding-left: .75rem;
                    }

                    &[aria-current]:before {
                        content: '';
                        width: .25rem;
                        height: 1.5rem;
                        display: inline-block;
                        vertical-align: middle;
                        margin-right: .25rem;
                        background-color: var(--color-primary);
                        border-radius: 1rem;
                    }
                }

            }
        }

    }

}