////
/// ------------------------------------------------------------------
/// Basic layout
/// ------------------------------------------------------------------
/// This is the design for the backend layout as a grid.
///
/// @author Natacha Herth
///
////

@use '@natachah/vanilla-frontend/scss/abstracts/mixins' as *;

body {

    // Set the default grid layout
    height: 100vh;
    display: grid;
    grid-template-columns: 0px 1fr;
    grid-template-rows: max-content 1fr;
    grid-template-areas: "aside header" "aside main";
    overflow: hidden;

    // Add animation exept on first load
    @media screen and (prefers-reduced-motion: no-preference) {
        &:not([data-preload]) {
            transition: all .5s ease-in-out;
        }
    }

    * {
        // Hide scrollbar for IE, Edge and Firefox
        -ms-overflow-style: none;
        scrollbar-width: none;

        // Hide scrollbar for Chrome, Safari and Opera
        &::-webkit-scrollbar {
            display: none;
        }
    }

    // Set the headers ont the grid
    > header {
        grid-area: header;
    }

    // Set the aside on the grid
    > aside {
        grid-area: aside;
    }

    // Set the main on the grid + design header section
    > main {
        container-type: inline-size;
        grid-area: main;
        overflow-y: auto;
        padding: var(--layout-gap-block) var(--layout-gap-inline);

        // Breadcrumb
        > nav {
            font-size: var(--font-size-small);
            margin-block-end: var(--layout-gap-block);
        }

        // Section where there is the <h1> and the buttons
        > header > div {
            display: flex;
            gap: .5rem;
            margin-top: 1rem;
        }

        // Design the grid layout for show views and dashboard shortcuts
        #contentGrid,
        #dashboardGrid {
            --grid-columns: 1;
            --grid-grow: 1;
            --grid-gap-inline: var(--layout-gap-inline);
            --grid-gap-block: var(--layout-gap-block);

            margin-block: var(--layout-gap-block);

            > .card {
                margin-block: 0;
            }
        }

        #contentGrid picture {
            border-radius: var(--card-border-radius);
            background-color: var(--card-background);
            overflow: hidden;
            align-content: center;
            padding: 1rem;

            img {
                --image-width: 80%;
                margin: auto;
            }
        }

        #dashboardGrid .card b {
            font-size: calc(var(--font-size) * 3);
            line-height: 1;
            display: block;
        }

        #dashboardGrid .card:has(a) {

            transition: all .25s ease-in-out;

            a {
                position: absolute;
                inset: 0 0;
                z-index: 1
            }

            &:hover {
                --card-color: var(--color-primary);
            }
        }

    }

    // Reduce spacing on smaller screen
    @media (max-width: 960px) {
        --layout-gap-inline: 1rem;
        --layout-gap-block: 1.5rem;
    }


    // Change the grid columns on bigger screen
    @media (min-width: 960px) {
        &:has(> aside:not([hidden])) {
            grid-template-columns: 320px 1fr;
        }
    }

    @container (min-width:600px) {
        > main > #dashboardGrid {
            --grid-columns: 2;
        }

        // Section where there is the <h1> and the buttons
        > main > header {
            display: flex;
            justify-content: space-between;
            align-items: center;

            > div {
                margin: 0;
            }
        }
    }

    @container (min-width:900px) {
        > main > #contentGrid {
            --grid-columns: 2;

            > .col-wider {
                @include flex-grid-wider-column(2);
            }
        }

        > main > #dashboardGrid {
            --grid-columns: 3;
        }
    }

    @container (min-width:1400px) {
        > main > #contentGrid {
            --grid-columns: 3;
        }

        > main > #dashboardGrid {
            --grid-columns: 6;
        }
    }

}