////
/// ------------------------------------------------------------------
/// Header
/// ------------------------------------------------------------------
/// This is the design for the backend header/top bar.
///
/// @author Natacha Herth
///
////

body {

    > header {

        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: .5rem var(--layout-gap-inline);
        background-color: var(--header-background);

        // Top navigation
        > nav > ul {
            list-style: none;
            display: flex;
            padding: 0;
            justify-content: end;
        }

    }

    // Hide text on top navigation
    @media (max-width:960px) {

        > header > nav > ul {
            justify-content: space-around;
        }

    }

}