////
/// ------------------------------------------------------------------
/// Dark theme
/// ------------------------------------------------------------------
/// Define the colors for the dark theme.
///
/// @group themes
/// @author Natacha Herth
///
////

html[data-theme=dark] {

    // Colors
    --color-body: black;
    --color-font: white;

    // Active (color-mix)
    --active-color: white;
    --active-percent: 15%;

}