////
/// ------------------------------------------------------------------
/// Light theme
/// ------------------------------------------------------------------
/// Define the colors for the light theme.
///
/// @group themes
/// @author Natacha Herth
///
////

html[data-theme=light],
html:not([data-theme]) {

    // Colors
    --color-body: white;
    --color-font: black;

}