////
/// ------------------------------------------------------------------
/// Basic layout
/// ------------------------------------------------------------------
/// This is the design for the basic layout as a grid.
///
/// @author Natacha Herth
///
////

@use '@natachah/vanilla-frontend/scss/abstracts/mixins' as *;

body {

    --layout-content-width: minmax(0, calc((var(--layout-width, 1280) - ((var(--layout-columns, 12) - 1) * var(--layout-gap-inline, 1rem))) / var(--layout-columns, 12)));

    min-height: 100vh;
    display: grid;
    grid-template-columns: [full-start] minmax(var(--layout-gap-inline, 1rem), 1fr) [content-start] repeat(var(--layout-columns, 12), var(--layout-content-width)) [content-end] minmax(var(--layout-gap-inline, 1rem), 1fr) [full-end];
    grid-template-rows: auto 1fr auto;
    gap: var(--layout-gap-block, 1rem) var(--layout-gap-inline, 1rem);

    // Add animation exept on first load
    @media screen and (prefers-reduced-motion: no-preference) {
        &:not([data-preload]) {
            transition: all .5s ease-in-out;
        }
    }

    // Add the subgrid to direct child of the body as <header>, <main> and <footer>
    > header,
    > main,
    > footer {
        grid-column: full;
        display: grid;
        grid-template-columns: subgrid;
        gap: var(--layout-gap-block, 1rem) var(--layout-gap-inline, 1rem);

        > * {
            grid-column: content;

            /* 
            * NOTE - If you want to create section with full background color you can add : 
            &.full {
                grid-column: full;
            }
            */
        }
    }

    // Design the <header>
    > header {
        position: sticky;
        top: 0;
        background-color: var(--color-body, white);
        z-index: 2;
    }

    // Design the <footer>
    > footer {
        text-align: center;
    }

    // Design the <main>
    > main {

        /* 
        * NOTE - If you want to create columns that re-use the layout main grid :
        .subgrid {
            display: grid;
            grid-template-columns: subgrid;
            gap: var(--layout-gap-block, 1rem) var(--layout-gap-inline, 1rem);
            grid-column: content; // Also can be full

            > * {
                grid-column: span calc(var(--layout-columns, 12) / var(--subgrid-columns, 4)); // --subgrid-columns is the number of columns in the area
            }
        }
        */

    }

    // Design SKIP link
    .skip {
        position: fixed;
        inset: 0 0 auto 0;
        z-index: 9999;
        padding: .5rem;
        text-align: center;
        background-color: var(--color-body, white);
        translate: 0 -100%;

        @media screen and (prefers-reduced-motion: no-preference) {
            transition: translate .25s ease-in-out;
        }

        &:focus {
            translate: 0;
        }
    }


}