////
/// ------------------------------------------------------------------
/// Comfort dialog
/// ------------------------------------------------------------------
/// This is the design for the comfort dialog.
///
/// @author Natacha Herth
///
////

#comfortDialog {

    fieldset {
        margin-block: 1rem;

        legend {
            font-weight: bold;
            margin-block-end: .5rem;
        }
    }

    footer {
        text-align: right;
    }

}