////
/// ------------------------------------------------------------------
/// Cookie dialog
/// ------------------------------------------------------------------
/// This is the design for the cookie dialog.
///
/// @author Natacha Herth
///
////

#cookies {

    font-size: var(--font-size-small);

    --dialog-padding-inline: 1rem;
    --dialog-padding-block: 1rem;
    --dialog-position: auto auto 1rem auto;
    --font-size-h1: 1.25em;

    button {
        width: 100%;
        margin-block-start: .5rem;
    }

    @media (min-width: 520px) {
        --dialog-width: 300px;
        --dialog-position: auto 1rem 1rem auto;
    }

}