////
/// ------------------------------------------------------------------
/// Header
/// ------------------------------------------------------------------
/// This is the design for the header with the menu.
///
/// @author Natacha Herth
///
////

@use "sass:map";
@use "@natachah/vanilla-frontend/scss/abstracts/default";
@use '@natachah/vanilla-frontend/scss/abstracts/mixins' as *;

$customDropdown: (
    background: var(--color-body)
);

// Change default properties
$customDropdownProperties: map.merge(default.$item-properties, $customDropdown);

body > header > div {
    display: flex;
    align-items: center;

    #logo {
        display: inline-block;
        margin-right: auto;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        // Add animation as in dropdown for the tree menu
        li [aria-controls] {
            @media screen and (prefers-reduced-motion: no-preference) {
                > svg {
                    transition: var(--dropdown-transition, all .25s ease-in-out);
                }
            }

            &[aria-expanded=true] > svg {
                transform: var(--dropdown-svg-transform, rotate(-180deg));
            }
        }
    }

    > nav {
        display: flex;
        align-items: center;
        gap: 1rem;

        > button {
            z-index: 3;
        }
    }

    #menu {

        --drawer-display: flex;
        --drawer-position: 0 0 auto auto;
        --drawer-height: 100dvh;
        --drawer-width: 100dvw;
        --drawer-max-width: 100dvw;

        gap: 1rem;
        flex-direction: column;
        padding: 2rem;

        @media (min-width: 520px) {
            --drawer-width: 320px;
        }

    }

    @media (min-width: 961px) {

        // Hide the button on bigger screen
        #toggleMenu {
            display: none;
            pointer-events: none;
            touch-action: none;
        }

        // Reset the menu design on bigger screen
        #menu {
            --drawer-height: fit-content;
            --drawer-width: fit-content;

            position: inherit;
            flex-direction: row;
            padding: 0;

            // Set the tree menu as a dropdown
            li > ul {
                position: absolute;
                z-index: var(--dropdown-index, 1);
                top: calc(100% + var(--dropdown-offset, .5rem));
                @include as-list('dropdown', ('focus', 'hover', 'active', 'disabled'), $customDropdownProperties);
            }
        }
    }

}

@media (max-width: 960px) {
    body:has(#menu:not([hidden])) {
        overflow: hidden;
    }
}