////
/// ------------------------------------------------------------------
/// Backend
/// ------------------------------------------------------------------
/// This is the design for the auth backend.
///
/// @author Natacha Herth
///
////


// Themes
@use "./themes";

// Base (reset, typography and media)
@use "@natachah/vanilla-frontend/scss/base";
@use "./base" as customBase;

// Components
@use '@natachah/vanilla-frontend/scss/components/button';
@use '@natachah/vanilla-frontend/scss/components/card';
@use '@natachah/vanilla-frontend/scss/components/dropdown';
@use '@natachah/vanilla-frontend/scss/components/form';
@use '@natachah/vanilla-frontend/scss/components/group';
@use "./components/card" as customCard;
@use "./components/form" as customForm;

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: space-between;

    > main,
    > picture {
        height: 100vh;
        flex: 1;
    }

    > main {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        nav {
            position: absolute;
            inset: 0 0 auto 0;
            text-align: right;
            padding: 1rem;

            > ul {
                list-style: none;
                display: flex;
                padding: 0;
                justify-content: end;
            }

        }

        section {
            padding-inline: var(--layout-gap-inline);
        }

        footer {
            position: absolute;
            inset: auto 0 0 0;
            text-align: center;
            padding: 1rem;
        }
    }

    > picture {
        --image-width: 100%;
        --image-height: 100%;
        --image-fit: cover;
        overflow: hidden;
    }

    @media (max-width:960px) {
        picture {
            display: none;
        }
    }

}

form,
hgroup {
    max-width: 540px;
}

form {
    button[type=submit] {
        width: 100%;
        margin-top: 1rem;
    }
}