////
/// ------------------------------------------------------------------
/// Customize card
/// ------------------------------------------------------------------
/// Here some customization for cards.
///
/// @author Natacha Herth
////

.card {

    position: relative;
    margin-block: var(--layout-gap-block);
    max-width: 100%;

    &:has(.card-icon) {

        > h3,
        > p {
            padding-right: 5.5rem;
        }

    }

    .card-icon {
        position: absolute;
        top: 1.5rem;
        right: 1.5rem;
        font-size: 3rem;
        line-height: 1;
        color: var(--color-icon);
    }

    .list li {

        display: flex;
        align-items: center;
        gap: 1rem;

        [data-handle] {
            padding: .5rem;
            margin-left: -.5rem;
        }

        span {
            line-height: 1.25;
        }

        .list-grow {
            flex-grow: 1;
        }

        > svg {
            min-height: 1rem;
            min-width: 1rem;
        }
    }

    .table-scrollable {
        margin-inline: calc(var(--card-padding-inline, --padding-inline) * -1);

        &:is(:last-child) {
            margin-bottom: calc(var(--card-padding-block, --padding-inline) * -1);
            border-end-start-radius: inherit;
            border-end-end-radius: inherit;
            border-top: var(--card-divider-size, var(--card-border-size, var(--border-size))) var(--card-divider-style, var(--card-border-style, var(--border-style))) var(--card-divider-color, var(--card-border-color, transparent));
        }

        table tr {
            > :first-child {
                padding-left: var(--card-padding-inline);
            }

            > :last-child {
                padding-right: var(--card-padding-inline);
            }
        }

    }

    &.card-error {
        --color-icon: var(--color-error);
        --card-border-size: 3px;
        --card-border-color: var(--color-error);
        --heading-color: var(--color-error);

        h2::before {
            background-color: var(--color-error);
        }

        li::marker {
            color: var(--color-error);
            font-weight: bold;
        }
    }

}