////
/// ------------------------------------------------------------------
/// Datalist
/// ------------------------------------------------------------------
/// Design the datalist.
///
/// @author Natacha Herth
////

@use '@natachah/vanilla-frontend/scss/abstracts/mixins' as *;

search,
.datalist {
    margin-block: var(--layout-gap-block);
}

search {
    --card-padding-inline: 1rem;
    --card-padding-block: 1rem;
    @include as-item('card');

    .badge {
        margin-block-start: .5rem;
    }
}

.datalist {

    // Make the form as a card
    @include as-item('datalist');

    // And add the header/footer
    @include with-header-and-footer('datalist');

    > header,
    > footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    > header {
        font-size: var(--font-size-small);

        --button-border-color: var(--form-border-color);

        // Design the number in ()
        > .group > * > small {
            font-style: italic;
        }
    }

    // Design the pagination
    > footer > nav > * {

        --button-padding-inline: .5em;
        --button-padding-block: .125em;

        font-size: var(--font-size-small);

        &[aria-label] {
            --button-padding-inline: .25em;
        }
    }

    // Design the "no content" message
    > p {
        margin-top: var(--datalist-padding-block);
    }

    // Remove inline padding for content
    > div {
        margin-inline: calc(var(--datalist-padding-inline) * -1);
    }

    // Design the table 
    table {

        th:last-child {
            padding-right: calc(var(--datalist-padding-inline) + var(--button-padding-inline, var(--padding-inline)));
        }

        th {
            white-space: nowrap;
        }

        td {
            width: 100%;
        }

        // Transform the SVG
        tr[aria-expanded=true] [data-handle=tree] svg {
            transform: rotate(90deg);
        }

        .fit {
            width: fit-content;
            white-space: nowrap;
        }

        .table-sort {
            cursor: pointer;

            &::after {
                content: var(--icon-sort);
                line-height: 1;
                display: inline-block;
                vertical-align: middle;
            }

            &[data-sorted-by=asc]::after {
                content: var(--icon-asc);
            }

            &[data-sorted-by=desc]::after {
                content: var(--icon-desc);
            }
        }

        @media screen and (prefers-reduced-motion: no-preference) {
            [data-handle=tree] svg {
                transition: all .25s ease-in-out;
            }
        }

    }

}