////
/// ------------------------------------------------------------------
/// Customize dialog
/// ------------------------------------------------------------------
/// Here some customization for dialog.
///
/// @author Natacha Herth
////


dialog {

    .close-x {
        --button-border-radius: 100%;
        aspect-ratio: 1 / 1;
        position: absolute;
        top: .5rem;
        right: .5rem;
    }

    &#dataDeleteDialog,
    &#dataRestoreDialog,
    &#dataDestroyDialog {

        --dialog-width: 420px;

        text-align: center;

        button {
            margin-block-start: 1.5rem;
        }

        h1 {
            &::before {
                all: unset
            }

            color: var(--color-primary);
            text-transform: uppercase;
            margin-block-end: 1.5rem;
        }
    }


}