////
/// ------------------------------------------------------------------
/// Dynamic
/// ------------------------------------------------------------------
/// This is the design for the backend dynamic livewire component.
///
/// @author Natacha Herth
////

.dynamic {

    container-type: inline-size;

    // Design the rows
    .flex-grid {

        --grid-columns: 1;

        margin-block: 1.5rem;

        > button {
            --button-border-color: var(--form-border-color);
            max-width: 100%;
        }

    }

    // Design the add button
    > button {
        --button-border-color: var(--form-border-color);
        margin-top: .5rem;
        width: 100%;
    }

    // On bigger size
    @container (min-width:720px) {

        // Design the rows
        .flex-grid {

            --grid-grow: 1;
            --grid-align: start;

            margin-block: 1rem;
            flex-wrap: nowrap;

            > button {
                max-width: fit-content;
            }

            > :last-child {
                max-width: fit-content;
            }

            &:is(:first-of-type) > button {
                align-self: end;
            }

            &:not(:first-of-type) label {
                display: none;
            }

        }
    }

}