////
/// ------------------------------------------------------------------
/// Editor 
/// ------------------------------------------------------------------
/// This is the design for the backend editor component.
///
/// @author Natacha Herth
////

@use '@natachah/vanilla-frontend/scss/abstracts/mixins' as *;

.editor {

    .editor-menu,
    .editor-bubble-menu {
        --button-padding-inline: .5em;
        --button-padding-block: .25em;
        --button-border-radius: .5rem;
    }

    .editor-menu {
        margin-block-end: .5rem;
        display: flex;
        flex-wrap: wrap;
        gap: .5rem;
    }

    .tiptap {

        --editor-height: calc((var(--font-size) * var(--line-height) * 5) + (2 * var(--form-padding-block, var(--padding-block))));

        // Hack to display the cursor
        -moz-user-modify: read-write;
        -webkit-user-modify: read-write;

        // Define the size
        overflow-y: scroll;
        min-height: var(--editor-height);
        max-height: calc(var(--editor-height) * 2);
        cursor: var(--form-cursor, pointer);

        // Make the editor as an input
        @include as-item('form');

        // Design the focused state
        &.ProseMirror-focused {

            color: var(--form-focus-color, var(--form-hover-color, var(--form-color)));
            background-color: var(--form-focus-background, var(--form-hover-background, color-mix(in srgb, var(--form-background), var(--hover-color) var(--hover-percent))));
            border-color: var(--form-focus-border-color, var(--form-hover-border-color, var(--form-border-color)));
            outline: var(--form-outline-size, var(--outline-size)) var(--form-outline-style, var(--outline-style)) var(--form-outline-color, color-mix(in srgb, var(--form-border-color), transparent var(--outline-opacity)));
            outline-offset: var(--form-outline-offset, var(--outline-offset));

            @media screen and (prefers-reduced-motion: no-preference) {
                transition: var(--form-transition, all .25s ease-in-out);
            }
        }

        // Add space gap to add text before/after a table
        .ProseMirror-gapcursor {
            height: calc(var(--font-size) * var(--line-height));
        }

        // Design content inside the editor
        *:where(:not(abbr, b, strong, i, em, cite, s, u, sub, sup, mark, code)),
        *:before,
        *:after {
            all: unset;
            display: revert;
            font-size: revert;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-weight: var(--font-weight-bold);
            margin-block: 1em .25em;
        }

        ul,
        ol {
            padding-left: 2rem;
        }

        a {
            text-decoration: underline;
            color: var(--color-primary);
        }

        > * + * {
            margin-block-start: 1em;
        }

        blockquote {
            border-left: 5px solid color-mix(in srgb, var(--color-font), transparent 75%);
            padding-left: 1em;
        }

        table {

            width: 100%;
            border-collapse: collapse;
            border-spacing: 0;
            margin-block-end: 1.5rem;

            td,
            th {
                border: 2px dashed color-mix(in srgb, var(--color-font), transparent 75%);
                padding: .5em;
            }

            th {
                background-color: color-mix(in srgb, var(--color-font), transparent 90%);
                font-weight: var(--font-weight-bold);
            }

        }

    }

    .editor-bubble-menu {
        --dropdown-border-radius: var(--button-border-radius);
        --dropdown-offset: .25rem;
        background-color: var(--dropdown-background);
        border-radius: var(--button-border-radius);
        width: fit-content;
    }

    .editor-bubble-menu {
        box-shadow: 0 .25rem .5rem rgba(0, 0, 0, .25);
    }

}

#editorHelpDialog {
    --dialog-width: 960px;

    kbd {
        font-size: var(--font-size-small);
    }

    table tr:nth-child(odd) td {
        background-color: color-mix(in srgb, var(--color-font), transparent 95%);
    }

    button.primary {
        width: 100%;
        margin-block-start: 1rem;
    }
}