////
/// ------------------------------------------------------------------
/// Form
/// ------------------------------------------------------------------
/// Here some form changes.
///
/// @author Natacha Herth
///
////

@use "@natachah/vanilla-frontend/scss/abstracts/mixins" as *;

form {

    // Design the labels
    label,
    legend {
        font-weight: var(--font-weight-bold);
        margin-block-end: .5rem;

        > small {
            // Customization for badge
            display: inline-block;
            font-size: var(--badge-font-size, var(--font-size-small));
            font-weight: 200;
            line-height: 1;
            margin-inline: .25rem;

            // Define as an item
            @include as-item('form-badge', ());
        }
    }

    // Global design
    input,
    select,
    textarea {

        & + small {
            display: inline-block;
            margin-block-start: .5rem;
        }

        &[readonly] {
            --form-background: var(--color-body);
        }

        &[aria-invalid=true] {
            --form-border-color: var(--color-error);
        }
    }


    // Spacing bewteen all fields as block
    .card,
    &[method=dialog] {

        > div + *,
        > fieldset + * {
            margin-block-start: 1.75rem;
        }

        > div:has([aria-invalid=true]) label {
            color: var(--color-error);
        }

    }

    // Remove spacing and weight for label checkbox and radio label
    [type=checkbox],
    [type=radio] {
        + label {
            font-weight: var(--font-weight);
            margin-block: 0;
        }
    }

    td,
    th {
        &:has([type=checkbox]) {
            white-space: nowrap;
        }
    }

    // Design the invalid message
    small[id^=invalid] {
        color: var(--color-error);
    }

    // Design the invalid message
    small[id^=description] {
        color: var(--color-helper);
    }

    fieldset > div:has(input[type=checkbox], input[type=radio]) {

        & + div {
            margin-block-start: .5rem;
        }

        small[id^=description] {
            display: block;
            padding-inline-start: 1.575rem
        }

        &:has(input[type=checkbox][role=switch]) small[id^=description] {
            padding-inline-start: 2.575rem
        }
    }

    // Align button in footer 
    footer {
        text-align: right;
        margin-block-start: var(--layout-gap-block);
    }

    // List as tree
    .list-as-tree {
        padding-left: 0;

        li {
            list-style: none;
            margin-block: .5em;

            > [data-handle] {
                line-height: 1;
                vertical-align: middle;

                // Animate the SVG
                @media screen and (prefers-reduced-motion: no-preference) {
                    > svg {
                        transition: all .25s ease-in-out;
                    }
                }

                &[aria-expanded=true] > svg {
                    transform: rotate(90deg);
                }
            }

            > div {
                display: inline-block;
            }

            > ul {
                border-left: 1px solid var(--color-border);
                padding-left: 1rem;
                margin-left: .5rem;
            }



        }
    }

    // Translations tabs
    .translations {
        > .group {
            font-size: var(--font-size-small);
            margin-block: 1rem;
        }
    }

    // Toggle show password button
    .show-password {
        &[aria-pressed=false] > :last-child {
            display: none;
        }

        &[aria-pressed=true] > :first-child {
            display: none;
        }
    }

}