////
/// ------------------------------------------------------------------
/// Notification
/// ------------------------------------------------------------------
/// This is the design for the backend notification component.
///
/// @author Natacha Herth
///
////

#notificationDialog {

    --dialog-padding-inline: .75rem;
    --dialog-padding-block: .75rem;
    --dialog-position: auto 1rem 1rem auto;
    --dialog-width: min(300px, calc(100dvw - 2rem));

    box-shadow: 0 0 1rem rgba(0, 0, 0, .25);

    b {
        color: var(--notification-color, currentColor);
    }

    #notificationTimer {
        width: 1%;
        height: 5px;
        position: absolute;
        top: 0;
        left: 0;
        background-color: var(--notification-color, currentColor);
    }

    #notificationContent {
        display: flex;
        align-items: center;
        gap: 1rem;
        padding-top: 5px;

        p {
            margin: 0;
        }

        > button {
            --button-padding-inline: .25em;
            --button-padding-block: 0;
            margin-left: auto;
        }
    }

    &.success {
        --notification-color: var(--color-success);
    }

    &.error {
        --notification-color: var(--color-error)
    }

    &.warning {
        --notification-color: var(--color-warning)
    }

}