////
/// ------------------------------------------------------------------
/// Global
/// ------------------------------------------------------------------
/// Here some global changes.
///
/// @author Natacha Herth
///
////

@use "sass:map";

.skip {
    position: fixed;
    inset: 0 0 auto 0;
    z-index: 9999;
    padding: .5rem;
    text-align: center;
    background-color: var(--color-body);
    translate: 0 -100%;

    @media screen and (prefers-reduced-motion: no-preference) {
        transition: translate .25s ease-in-out;
    }

    &:focus {
        translate: 0;
    }
}

.group {
    --button-border-color: var(--form-border-color);
}

.rounded {
    --button-color: var(--button-rounded-color);
    --button-background: var(--button-rounded-background);
    --border-radius: 100%;
    aspect-ratio: 1 / 1;

    &.small {
        --button-padding-inline: .25em;
        --button-padding-block: .25em;
    }

}

.table-scrollable {
    overflow-x: scroll;
}

.badge {
    --button-padding-inline: .125em;
    --button-padding-block: .125em;
    --button-border-radius: 100%;
    white-space: nowrap;
}

.dropdown ul {
    box-shadow: 0 .25rem .5rem rgba(0, 0, 0, .25);
}

// Hide text on top navigation
@media (max-width:960px) {

    button,
    a {
        &:has(svg) > span {
            display: none;
        }
    }

}