////
/// ------------------------------------------------------------------
/// Typography
/// ------------------------------------------------------------------
/// Here some typography changes.
///
/// @author Natacha Herth
///
////

h2,
h3,
h4,
h5,
h6 {
    margin-block-end: .25em;
}

// Create the H1 with a border on the left
h1 {

    position: relative;
    padding-left: 1.5rem;
    line-height: 1.2;
    text-wrap: balance;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        display: block;
        height: 100%;
        width: .5rem;
        background-color: var(--color-primary);
        border-radius: 1rem;
    }

    span {
        display: block;
        font-size: 1rem;
        line-height: 1.2;
        text-transform: uppercase;
    }

}

// Create the <h2> and <h3> with a border on the top
h2,
h3 {
    &:before {
        content: '';
        display: block;
        width: 2rem;
        height: 4px;
        border-radius: 1rem;
        background-color: var(--color-primary);
    }
}

// Define spacing between text
p {

    // Middle paragraph
    + p,
    + button,
    + [role=button] {
        margin-block-start: 1em;
    }

    // Heading after some paragraph
    + h2,
    + h3,
    + h4,
    + h5,
    + h6 {
        margin-block-start: 1.25em;
    }

}

// Bold
b,
strong {
    font-weight: var(--font-weight-bold);
}

// Define spacing between text + list
h2,
h3,
p {
    + .list {
        margin-block-start: 1em;
    }
}

// Buttons, avoid 2 lines
button,
[role=button] {
    white-space: nowrap;
}

// Tables
table {
    th {
        text-transform: uppercase;
        font-size: var(--font-size-small);
        font-weight: var(--font-weight-bold);

        > label {
            font-weight: var(--font-weight-bold) !important;
        }
    }
}

// Lists
dl dt {
    text-transform: uppercase;
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-bold);
    margin-block-start: 1rem;
}

// Code
pre {
    white-space: pre;
    margin-block-start: 1rem;
    overflow: scroll;
}

// Breadcrumb
.breadcrumb {
    font-size: var(--font-size-small);
}

// Customs
.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}