////
/// ------------------------------------------------------------------
/// Dark theme
/// ------------------------------------------------------------------
/// Define the colors for the dark theme.
///
/// @group themes
/// @author Natacha Herth
///
////

html[data-theme=dark] {

    // Colors
    --color-body: #181818;
    --color-font: #F0F2F3;
    --color-error: #FB6077;
    --color-success: #4DA34D;
    --color-icon: color-mix(in srgb, var(--color-secondary), black 40%);
    --color-border: color-mix(in srgb, var(--color-secondary), black 20%);
    --color-helper: color-mix(in srgb, var(--color-font), black 20%);

    --color-body-contrast: #25292E;

    /******* CUSTOM CSS *******/

    // Layout
    --header-background: black;
    --drawer-background: black;

    // Rounded button
    --button-rounded-color: white;
    --button-rounded-background: var(--color-icon);

    .toggle-theme[value=dark] {
        display: none;
    }
}