////
/// ------------------------------------------------------------------
/// Root
/// ------------------------------------------------------------------
/// Regroup all the default CSS custom properties
///
/// @group themes
/// @author Natacha Herth
///
////

:root {

    // Typography
    --font-size: 16px;
    --line-height: 1.5;
    --font-family: "Open Sans", sans-serif;
    --font-weight: 400;
    --font-weight-bold: 600;

    --font-size-h1: 2.00em; // 32px
    --font-size-h2: 1.75em; // 28px
    --font-size-h3: 1.50em; // 24px
    --font-size-h4: 1.25em; // 20px
    --font-size-h5: 1.125em; // 18px
    --font-size-h6: 1.00em; // 16px
    --font-size-large: 1.125em; // 18px
    --font-size-small: .875em; // 14px

    // Anchor
    --decoration: none;

    // Layouts
    --padding-inline: .75em;
    --padding-block: .5em;

    // Border
    --border-size: 1px;
    --border-style: solid;
    --border-radius: .5rem;

    // Outline (:focus)
    --outline-size: 3px;
    --outline-style: solid;
    --outline-offset: 0;
    --outline-opacity: 40%;

    // Hover (color-mix)
    --hover-color: black;
    --hover-percent: 5%;

    // Active (color-mix)
    --active-color: black;
    --active-percent: 10%;

    // Disabled
    --disabled-opacity: 50%;

    // Colors
    --color-body: #F0F2F3;
    --color-font: #25292E;
    --color-primary: #E9062B;
    --color-secondary: #6B7784;
    --color-error: #DC3030;
    --color-success: #3E843E;
    --color-warning: #FFA500;
    --color-icon: color-mix(in srgb, var(--color-secondary), white 80%);
    --color-border: color-mix(in srgb, var(--color-secondary), white 80%);
    --color-helper: color-mix(in srgb, var(--color-font), white 25%);

    // Contrasts
    --color-warning-contrast: black;
    --color-body-contrast: white;

    // Icons
    --icon-date: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="black" viewBox="0 0 16 16"><path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/></svg>');
    --icon-time: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16"><path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/><path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/></svg>');
    --icon-file: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16"><path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/><path d="M7.646 1.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 2.707V11.5a.5.5 0 0 1-1 0V2.707L5.354 4.854a.5.5 0 1 1-.708-.708l3-3z"/></svg>');
    --icon-select: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/></svg>');
    --icon-radio: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" viewBox="0 0 16 16"><circle cx="8" cy="8" r="8"/></svg>');
    --icon-check: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" viewBox="0 0 16 16"><path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/></svg>');
    --icon-switch: var(--icon-radio);

    /******* COMPONENTS *******/

    // Backdrop
    --backdrop-color: rgba(56, 56, 56, 0.5);

    // Breadcrumb
    --breadcrumb-gap: .25em .5em;
    --breadcrumb-decoration: underline;

    // Card
    --card-border-radius: 1rem;
    --card-padding-block: 2rem;
    --card-padding-inline: 2rem;
    --card-background: var(--color-body-contrast);
    --card-divider-color: var(--color-border);
    --card-form-divider-color: var(--color-border);
    --card-form-background: var(--color-body-contrast);

    // Datalist
    --datalist-border-radius: var(--card-border-radius);
    --datalist-padding-block: 2rem;
    --datalist-padding-inline: 1rem;
    --datalist-divider-color: var(--color-border);
    --datalist-background: var(--color-body-contrast);

    // Dialog
    --dialog-border-radius: 1rem;
    --dialog-background: var(--color-body-contrast);

    // Dropdown
    --dropdown-background: var(--color-body-contrast);

    // Form
    --form-border-color: color-mix(in srgb, var(--color-secondary), white 20%);
    --form-active-background: var(--color-secondary);
    --form-active-border-color: var(--form-active-background);

    // Form badge
    --form-badge-color: var(--color-helper);
    --form-badge-background: var(--color-body);
    --form-badge-border-radius: .375rem;
    --form-badge-padding-block: .375em;
    --form-badge-padding-inline: .5em;

    // KBD
    --kbd-color: white;
    --kbd-background: black;

    // List
    --list-padding-inline: 2rem;
    --list-border-color: var(--color-border);
    --list-background: var(--color-body-contrast);

    // Layout
    --layout-gap-inline: 2rem;
    --layout-gap-block: 2rem;
    --header-background: var(--color-body-contrast);
    --drawer-background: var(--color-body-contrast);

    // Rounded button
    --button-rounded-color: var(--color-font);
    --button-rounded-background: var(--color-body);

    // Table
    --table-padding-inline: 1rem;
    --table-border-color: var(--color-border);

}